{
  "title": "SasView 1D",
  "description": "SasView 1D data fitter",
  "algorithms": [
    {
      "name": "sasview"
    }
  ],
  "resources": [
    {
      "name": "inputData"
    },
    {
      "name": "outputData"
    },
    {
      "name": "outputFit"
    }
  ],
  "views": [
    {
      "name": "upload"
    },
    {
      "name": "fitGraph"
    }
  ],
  "displays": [
    {
      "name": "main"
    }
  ]
}
